.box {
  width: 21vw;
  margin-right: 25px;
  margin-bottom: 20px;
}

img {
  width: -webkit-fill-available;
  height:175px;
}

.type {
  font-size: 16px;
  font-weight: bold;
  font-family: Playfair Display;
  width: 70%;
  cursor:pointer;
}

.type:hover {
  color: orange;
}

.price {
  text-align: right;
  width: 30%;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: royalblue;
  white-space: nowrap;

}

.address {
  margin-top: 10px;
  white-space: nowrap;
  font-weight: bold;
  width: 100%;
  font-size: 16px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.feature {
  font-size: 12px;
  color: orange;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.example-spacer {
  flex: 1 1 auto;
}
