<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="width:100%;overflow-x: hidden;overflow-y:auto;">
<!--  <div class="">-->
<!--    <mat-toolbar>-->
<!--      <img src="../assets/logo.png" style="width:8%;">-->

<!--      <button routerLink="/" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--        <mat-icon>home</mat-icon>-->
<!--      </button>-->
<!--&lt;!&ndash;      <button style="margin-top: 4px;padding: 0;min-width: 30px;" mat-button routerLink="/">Home</button>&ndash;&gt;-->

<!--      <span class="example-spacer"></span>-->
<!--      <button style="margin-right: 10px;" mat-button routerLink="/">Properties</button>-->
<!--      <button style="margin-right: 10px;" mat-button routerLink="/">Listings</button>-->
<!--      <button style="margin-right: 10px;" mat-button routerLink="/">Contact Us</button>-->
<!--      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--        <mat-icon>account_circle</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--        <mat-icon>logout</mat-icon>-->
<!--      </button>-->
<!--    </mat-toolbar>-->
<!--  </div>-->
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <router-outlet></router-outlet>
  </div>


</div>
